@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: #e7e8e8;
  background: #0f1318;
}

.connectWalletBtn {
  margin: 0 !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 0.05rem;
  /* width of the horizontal  scrollbar */
  width: 0.15rem;
  /* width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #e8e8e8;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #37474f;
  border: 2px solid #37474f;
  /* creates padding around scroll thumb */
}